<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lumx/1.5.13/lumx.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <title>Log Monitoring</title>
    <style>
        #shopurls { width: 100%; }
    </style>
</head>
<body ng-app="app" ng-controller="ctrl">
<div flex-container="row" class="p+">
    <div flex-item="8">
        <lx-tabs lx-color="green" lx-layout="inline" ng-if="logs">
            <lx-tab ng-repeat="(_s,shop) in logs" lx-label="{{_s}}">
                <div ng-if)="shop.exceptions">
                    <h1>exception log: {{ shop.exceptions.time  }}</h1>
                    <ul class="p list">
                        <li class="list-row list-row--has-separator" ng-repeat="e in shop.exceptions.log">
                            <div class="list-row__content">
                                <div class="display-block">
                                    <lx-switch class="float-left" ng-model="e.show" lx-color="green"></lx-switch>
                                    <b class="p+ pt++">{{e.timestamp}} :: {{e.subheader}}</b>

                                </div>
                                <pre ng-show="e.show" class="display-block fs-body-1 tc-black-2">{{e.text}}</pre>
                            </div>
                        </li>
                    </ul>
                </div>
                <div ng-if)="shop.errors">
                    <h1>error log: {{ shop.errors.time  }}</h1>
                    <ul class="p list">
                        <li class="list-row list-row--has-separator" ng-repeat="e in shop.errors.log">
                            <div class="list-row__content">
                                <span class="display-block"><b>{{e.date}} :: {{e.type}}</b></span>
                                <pre class="display-block fs-body-1 tc-black-2">{{e.msg}}</pre>
                            </div>
                        </li>
                    </ul>
                </div>
            </lx-tab>
        </lx-tabs>
    </div>
    <div flex-item="4" class="p+">
        Shop URLs + access tokens:
        <ul class="list m++">
            <li class="list-row list-row--has-separator" ng-repeat="(s,t) in shops">
                <div class="list-row__primary">
                    <lx-button lx-type="icon" lx-size="xl" lx-color="cyan" lx-tooltip="get log" ng-click="getLogs(s,t);">
                        <i class="mdi mdi-download"></i>
                    </lx-button>
                </div>
                <div class="list-row__content">
                    <span class="display-block"><b>{{s}}</b></span>
                    <span class="display-block fs-body-1 tc-black-2">{{t}}</span>
                </div>
                <div class="list-row__secondary">
                    <lx-button lx-type="icon" lx-size="xl" lx-color="red" lx-tooltip="remove" ng-click="removeShop(s);">
                        <i class="mdi mdi-close-circle-outline"></i>
                    </lx-button>
                </div>
            </li>
        </ul>
        <div flex-container="row">
            <lx-text-field lx-label="new Shop URL" lx-allow-clear="true" flex-item="6">
                <input type="text" ng-model="new.shop">
            </lx-text-field>
            <lx-text-field lx-label="Token" lx-allow-clear="true" flex-item="5">
                <input type="text" ng-model="new.token">
            </lx-text-field>
            <div class="text-field">
                <lx-button lx-color="green" ng-click="addShop();">add</lx-button>
            </div>
        </div>
        <lx-progress lx-type="linear" lx-color="teal" lx-value="{{ countdown.progress }}"></lx-progress>
        <div flex-container="row" class="p+">
            <div flex-item="5">
                Logs automatisch abrufen?
            </div>
            <div flex-item>
            <lx-radio-group>
                <lx-radio-button name="fetchtimer" ng-value="1" ng-model="config.fetchtimer" lx-color="red" ng-change="saveConfig()">
                    <lx-radio-button-label>1 Min</lx-radio-button-label>
                </lx-radio-button>
                <lx-radio-button name="fetchtimer" ng-value="3" ng-model="config.fetchtimer" lx-color="orange" ng-change="saveConfig()">
                    <lx-radio-button-label>3 Min</lx-radio-button-label>
                </lx-radio-button>
                <lx-radio-button name="fetchtimer" ng-value="5" ng-model="config.fetchtimer" lx-color="lime" ng-change="saveConfig()">
                    <lx-radio-button-label>5 Min</lx-radio-button-label>
                </lx-radio-button>
                <lx-radio-button name="fetchtimer" ng-value="10" ng-model="config.fetchtimer" lx-color="green" ng-change="saveConfig()">
                    <lx-radio-button-label>10 Min</lx-radio-button-label>
                </lx-radio-button>
                <lx-radio-button name="fetchtimer" ng-value="0" ng-model="config.fetchtimer" lx-color="blue" ng-change="saveConfig()">
                    <lx-radio-button-label>aus</lx-radio-button-label>
                </lx-radio-button>
            </lx-radio-group>
        </div>
        </div>
        <!-- <lx-button lx-color="green" ng-click="saveShops();">save</lx-button>
        <lx-button lx-color="blue" ng-click="loadShops();">load</lx-button> -->

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lumx/1.5.13/lumx.min.js"></script>
<script src="scripts/options.js"></script>
</body>
</html>
